<div class="container flex h-screen justify-center">
  <form (ngSubmit)="submit()" class="border m-auto p-4 w-1/3">
    <h2 class="text-center font-bold text-lg">Login</h2>
    <div class="my-5">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        class="p-2 rounded w-full border outline-none"
        placeholder="Email"
        [(ngModel)]="form.email"
        name="email"
      />
    </div>
    <div class="my-5">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        class="p-2 rounded w-full border outline-none"
        placeholder="Password"
        [(ngModel)]="form.password"
        name="password"
      />
    </div>
    <div>
      <input
        type="submit"
        value="Login"
        class="p-2 rounded w-full bg-red-400 text-white font-bold cursor-pointer hover:bg-red-300"
      />
    </div>
  </form>
</div>
