<nav class="p-4 bg-red-200">
  <div class="container flex justify-between mx-auto my-0 text-2xl text-indigo-800 font-bold">
    <h1>Book Shop</h1>
    <div class="menu">
      <ul class="flex">
        <li>
          <a routerLink="/">Books</a>
          </li>
        <li class="ml-4">
          <a routerLink="/cart">Cart</a>
        </li>
        <li class="ml-4">
          <a routerLink="/login">Login</a>
        </li>
        <li class="ml-4">
          <a routerLink="/register">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
