/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  letter-spacing: 1px;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
nav li:hover {
  border-bottom: solid 3px #fff;
}
